#myInput {
    position: fixed;
    z-index: 1200 !important;
    top: 4px;
    left: 5px;
    height: fit-content;
    width: 20%;
    background-color: rgb(247, 236, 236);
    border-radius: 0;
}

h3{
    color: #19105b;
    margin-left: 1%;
    width: 98%;
    border-bottom: 0.5px solid rgb(124, 0, 128);
}

.card-row{
    overflow: hidden;
    overflow-x: scroll;
}